include CHANGELOG
include LICENCE
include CONTRIBUTORS
include README.rst
include example.png
recursive-include inline_actions *.css
recursive-include inline_actions *.py

global-exclude *.pyc
global-exclude __pycache__
